.Header {
  margin: 0 !important;
  padding: 0.625rem 0;

  & > div {
    display: flex;
    flex-direction: column;

    & > div:last-child {
      margin-top: 16px;
      padding: 12px;
      width: 100%;
      border-top: 1px solid #014451;
      border-bottom: 1px solid #014451;
    }
  }

  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    color: white;
    background: rgb(164, 0, 0);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
