.Baner {
  h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: baner 20s infinite linear;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  grid-gap: 1rem;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  li {
    font-weight: 500;
    font-size: 16px;

    button {
      color: black;
      @apply border-green-400;
    }
  }

  [aria-current]:not([aria-current="false"]) {
    button {
      @apply bg-green-400;
      @apply text-white;
    }
  }
}

@keyframes baner {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
