@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button span {
  padding: 4px 10px !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  grid-gap: 1rem;
  justify-content: space-between;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background: #31c48d;
  border-radius: 20px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #014451;
}
